html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    overflow: hidden;
    background: #111;
}

.nav {
    position: fixed;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    height: fit-content;
    color: white;
    z-index: 1;
    backdrop-filter: blur(2px);
}

.logo {
    color: cyan;


}

li {
    float: left;
  }

.nav_a {
    padding: 0 100 100 0;
    display: inline-block;

}

.main {
    column-count: 3;
    /* background-color: red; */
    z-index: 3;
    position: fixed;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    padding: 50px;
    color: snow;
    font-size: 24px;
    width: 60%;
    text-align: center;

    

}

.scene {
    z-index: -1;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
  }
  
  li {
    float: left;
    
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24px;
    
  }
  
  li a:hover {
    background-color: #111;
    text-decoration: underline;
  }