::selection {
  background-color: cyan;
  color: black;
}


:root {
  --background: #fff;
  --text: #fff;
  --accent: #00E5FF;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #F2F2F2;
    --text: #000;
    --accent: #00E5FF; 
  }
}


html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    overflow: hidden;
    background-color: var(--background);

}

.nav {
    position: fixed;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    height: fit-content;
    color: var(--text);
    z-index: 1;
    backdrop-filter: blur(2px);
}

.current {
    color: var(--accent);


}

li {
    float: left;
  }

.nav_a {
    padding: 0 100 100 0;
    display: inline-block;

}

.main {
    column-count: 3;
    /* background-color: red; */
    z-index: 3;
    position: fixed;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    padding: 50px;
    color: var(--text);
    font-size: 24px;
    width: 60%;
    text-align: center;

    

}

.scene {
    z-index: -1;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    float: left;
    
  }
  
  li a {
    display: block;
    color: var(--text);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24px;
    
  }
  
  li a:hover {
    background-color: var(--background);
    text-decoration: underline;
  }